<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Detail product</title>
</head>
<body>
<h1>Detail product</h1>
<table th:object="${product}">
    <tr>
        <td>ID:</td>
        <td th:text="*{id}"></td>
    </tr>
    <tr>
        <td>Name:</td>
        <td th:text="*{name}"></td>
    </tr>
    <tr>
        <td>Category:</td>
        <td th:text="${product.category.getCategoryName()}"></td>
    </tr>
    <tr>
        <td>Price:</td>
        <!--/*@thymesVar id="formatCurrency" type=""*/-->
        <td th:text="*{#numbers.formatCurrency(price)}"></td>
    </tr>
    <tr>
        <td>Quantity:</td>
        <td th:text="*{quantity}"></td>
    </tr>
    <tr>
        <td>Date release:</td>
        <td th:text="*{#dates.format(dateRelease,'dd/MM/yyyy')}"></td>
    </tr>
</table>
</body>
</html>