<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head">
    <meta charset="UTF-8">
    <title>Update</title>
</head>
<body>
<h2>Edit Music</h2>
<p>
    <a th:href="@{/music}">Back to Music list</a>
</p>
<div id="form">
    <form action="/music/update" th:object="${musicDto}"
          method="POST" novalidate="novalidate">
        <div>
            <input type="hidden"  th:field="*{id}"/>
        </div>
        <div>
            <label>Music Name</label>
            <input type="text" th:field="*{musicName}"/>
        </div>
        <div>
            <label>Singer Name</label>
            <input type="text" th:field="*{singerName}"/>
        </div>
        <div>
            <label>Category</label>
            <input type="text" th:field="*{category}"/>
        </div>

        <input type="submit" value="Edit"/>
    </form>
</div>
<footer th:replace="layout :: footer"></footer>
</body>

</html>